.dashboard-nav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: $spacing-xxs $spacing-sm;
  &-total,
  &-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-sm;
  }
  &-total {
    h1 {
      font-size: $font-size-xxl;
      font-weight: $inter-bold;
      @include applyTheme() {
        color: theme($highlighted-txt);
      }
    }
    p {
      font-size: $font-size-base;
      font-weight: $inter-bold;
      @include applyTheme() {
        color: theme($normal-txt);
      }
    }
  }
}

.theme-toggle-switch {
  border: none;
  background-color: transparent;
  font-size: $font-size-base;
  font-weight: $inter-bold;
  padding: $spacing-sm $spacing-lg;
  @include applyTheme() {
    color: theme($highlighted-txt);
  }

  span {
    margin-right: $spacing-xxs;
  }
}
